@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-size: 21px;
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    max-width: 100vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    height: 8.5%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-shadow: 1px .5px 1px rgb(80, 80, 80);
}
.header_left{
    display: flex;
    align-items: center;
    justify-content:start;
    padding-left: 3.9%;
    gap: 17px;
    width: 50%;
    height: 100%;
}
.header_right{
    display: flex;
    justify-content: flex-end;
    padding-right: 10.4%;
    gap: 17px;
    width: 50%;
}
#sign_in{
    border: 1.5px solid rgb(66, 66, 66);
    border-radius: 20px;
    padding-left: 2.4%;
    padding-bottom: .6%;
    padding-right: 2.4%;
    padding-top: .6%;
    color:black;
}
#sign_in:hover{
    background-color: lightgray;
}
#join_now{
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 2.4%;
    padding-bottom: .6%;
    padding-right: 2.4%;
    padding-top: .6%;
    color:azure;
    background-color: black;
}
#join_now:hover{
    background-color: #3b4040;
}

.header_left a{
    text-decoration: none;
    color: black;
    display: flex;
}
.header_left img{
    padding-left: 3%;
    width: 10%;
    height: 80%;
}
.header_left a:hover{
    color:#0f941a;
}
.header_right a{
    text-decoration: none;
}

.first a{
    text-decoration: none;
    color: azure;
    margin-right: 35%;
    border: 1.5px solid azure;
    border-radius: 27px;
    padding: 10px;
}
.first a:hover{
    background-color: #0a5422;
}
.first{
    background-color: #32462F;
    color:azure;
    width: 85%;
    height: 12%;
    margin-left: 7.5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.first div{
    margin-left: 33.4%;
}



.img-right{
    width: 85%;
    height: 65%;
    background-color: #006241;
    margin-left: 7.5%;
    margin-top: 2.5%;
    display: flex;
}
.text-right{
    color:azure;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    padding: 40px;
}
.text-right a{
    text-decoration: none;
    color: azure;
    font-size: 16px;
    border: 1.3px solid azure;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 5%;
}
.text-right a:hover{
    background-color: #034505;
}
.text-right h1{
    font-size: 50px;
}
.text-right p{
    font-size: 24px;
    margin: 0;
}
.img-right1{
    width: 50%;
}
.img-right1 img{
    width: 100%;
    height: 100%;
}


.img-left {
    width: 85%;
    background-color: #006241;
    margin-left: 7.5%;
    margin-top: 2.5%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    overflow: hidden; 
}

.img-left1 {
    width: 50%;    
}

.img-left1 img {
    width: 100%;
    height: 100%;
}

.text-left {
    color: azure;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.text-left h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.text-left p {
    font-size: 24px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.text-left a {
    text-decoration: none;
    color: azure;
    font-size: 16px;
    border: 1.3px solid azure;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
}
.text-left a:hover{
    background-color: #034505;
}


.column{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: start;
    margin-top: 2.6%;
    margin-bottom: 2%;
}
.column h2{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    font-weight: 400;
}
.column a{
    text-decoration: none;
    margin-left: 80px;
    color: #00000094;
}
.column a:hover{
    color:#46484d;
}
.column :nth-child(3){
    padding-top: 18.5px;
}
footer{
    width: 100vw;
    box-shadow: 0 -.5px rgb(70, 70, 70);
    margin-top: 5%;
}
.footer2{
    display: flex;
}
.rights{
    color: #00000094;
    font-size: 15px;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
}

@media (orientation: portrait) and (max-width:500px) {
    .header_left{
        gap: 2px;
        margin: 0%;
        font-size: 18px;
        width: 65%;
        padding: 0%;
        gap: 12px;
        overflow-x: visible;
    }
    .header_left img{
        height: 50%;
        width: 16%;
        padding:0%;
        margin: 0%;
    }
    .header_left a{
        font-size: 14px;
        gap: 6.7px;
        margin: 0%;
    }
    .header_right{
        gap: 10px;
        font-size: 16px;
        width: 35%;
        padding: 0%;
        margin-left: auto;
    }
    .header_right a{
        font-size: 14px;
        margin: 0%;
    }

    .first{
        width: 100%;
        margin-left: 0%;
    }
    .first div  {
        font-size: 16px;
        margin: 0%;
    }
    .first a{
        font-size: 15px;
        margin: 0%;
    }

    .img-right{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 50%;
        margin-left: 0%;
        margin-top: 5%;
        padding: 0%;
    }
    .img-right1{
        width: 100%;
        height: 50%;
    }
    .text-right{
        width: 100%;
        height: 50%;
        padding: 14px 12px 14px 12px;
    }
    .text-right h1{
        font-size: 20px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .text-right p{
        font-size: 16px;
    }
    .text-right a{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .img-right1 img{
        margin-top: 0%;
    }

    .img-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .img-left1{
        width: 100%;
        height: 50%;
    }
    .text-left{
        width: 100%;
        padding: 14px 12px 14px 12px;
    }
    .text-left h1{
        font-size: 20px;
        margin: 5px 0px 5px 0px;
    }
    .text-left p{
        font-size: 16px;
        padding: 0;
        margin: 0%;
    }
    .img-left1 img{
        margin-top: 0%;
    }

    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0%;
        }
    .column{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        }
    footer:last-child{
        margin-bottom: 7%;
    }
    .column h2{
        margin-left: 5%;
        font-size: 16px;
    }
    .column a{
        margin-left: 5%;
        font-size: 16px;
    }
    .rights{
        margin-top: 5%;
        margin-left: 3%;
        margin-bottom: 4%;
        font-size: 12.5px;
    }
}
